
    h1 {
        font-size: 72px;
        background: -webkit-linear-gradient(#1a4497, #06d2b6, #05ef57);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        }   